<div class="mobile-nav-panel">
	<i class="icon-reorder icon-large"></i>
</div>
<header id="header">
	<h1 class="blog-title">
		<a href="<%- config.root %>"><%= config.title %></a>
	</h1>
	<nav class="nav">
		<ul>
<% 		for (var i in theme.menu){ %>
			<li><a href="<%- theme.menu[i] %>"><%= i %></a></li><% 
		} 
%>
			<li><a id="nav-search-btn" class="nav-icon" title="Search"></a></li>
		</ul>
	</nav>
	<div id="search-form-wrap">
		<form accept-charset="UTF-8" class="search-form">
			<input type="search" name="q" class="search-form-input" placeholder="Search" id="local-search-input">
		</form>
		<div id="local-search-result" class="local-search-result-cls"></div>
	</div>
</header>